	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/12/2019 06:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-plain:before { content: "\f100"; }
.flaticon-talent:before { content: "\f101"; }
.flaticon-mountain:before { content: "\f102"; }
.flaticon-search:before { content: "\f103"; }
.flaticon-gym:before { content: "\f104"; }
.flaticon-travel:before { content: "\f105"; }
.flaticon-cardiogram:before { content: "\f106"; }
.flaticon-spa:before { content: "\f107"; }
.flaticon-food:before { content: "\f108"; }
.flaticon-hotel:before { content: "\f109"; }
.flaticon-wine:before { content: "\f10a"; }
.flaticon-supermarket:before { content: "\f10b"; }
.flaticon-arrow-angle-pointing-up:before { content: "\f10c"; }
.flaticon-customer-support:before { content: "\f10d"; }
.flaticon-customer-service:before { content: "\f10e"; }
.flaticon-responsive-design-symbol:before { content: "\f10f"; }
.flaticon-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet:before { content: "\f110"; }
.flaticon-code:before { content: "\f111"; }
.flaticon-font:before { content: "\f112"; }
.flaticon-runer-silhouette-running-fast:before { content: "\f113"; }
.flaticon-file:before { content: "\f114"; }