section.chapter{
    padding: 0;
}
.chapter .chapter-heading{
    gap: 15px;
    align-items: center;
}
.chapter .chapter-shadow{
    box-shadow: 0 2px 2px 0 var(--black);
    padding: 20px 0;
}
.chapter .chapter-heading .left-arrow i{
    font-size: 14px;
}
.chapter .chapter-heading h2{
    font-size: 14px;
    font-weight: 700;
}
.chapter .chapter-no h2{
    font-size: 14px;
    font-weight: 700;
}
.chapter .chapter-no p{
    font-size: 14px;
}
audio{
    width: 100%;
}
.back-chapter{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}
.back-chapter a{
    color: var(--black);
}
.previous .chapter-heading{
    gap: 10px;
}
.previous .chapter-heading h2{
    font-size: 12px;
}
.previous .chapter-heading i{
    font-size: 12px !important;
}
.back-chapter .next-chapter .btn-success{
    color: var(--white);
    font-size: 12px;
}
.back-chapter .next-chapter .btn-success:hover{
    color: var(--black);
}