@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --black:#000000;
    --white:#FFFFFF;
    --light-green:#7ECC7A;
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
h2{
    font-size: 24px;
    font-weight: 600;
}
p{
    font-size: 14px;
}
a{
    text-decoration: none;
}
.btn:focus{
    outline: none;
    box-shadow: none !important;
}
header{
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--white);
    padding: 20px 0;
}
/* top logo design  */
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-light .navbar-toggler{
    border: none;
}
.navbar-light .navbar-toggler:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

/* logo right content design  */
.navbar-nav .nav-item a{
    font-size: 14px;
    font-weight: 600;
    color: var(--black) !important;
}
form .register{
    font-size: 14px;
    font-weight: 600;
    color: var(--light-green);
    position: relative;
    padding: 0;
    margin:0 10px;
}
form .register:hover{
    color: var(--light-green);
}
form .register:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--light-green);
}
/* hero section design  */
section{
    padding: 20px 0;
}
.hero{
    padding: 80px 0;
}
.btn-success{
    background: var(--light-green);
    color: var(--white);
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid transparent;
}
.btn-success:hover{
    background: transparent;
    border-color: var(--light-green);
    color: var(--black);
}
.btn-outline-success{
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    border-color: var(--light-green);
    color: var(--black);
    padding-left: 30px;
    padding-right: 30px;
}
.btn-outline-success:hover{
    background: var(--light-green);
    color: var(--white);
    border-color: var(--white);
}
.hero h1{
    font-size: 48px;
    font-weight: 600;
    color: var(--black);
}
.hero h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
    margin: 10px 0;
}
.hero h3 span{
    color: var(--light-green);
}
.hero p{
    width: 60%;
    font-size: 16px;
    color: var(--black);
    text-align: center;
    margin: 20px 0;
}

/* about section design */
/* .about .about-img{
    height: 400px;
    overflow: hidden;
}
.about .about-img img{
    object-fit: cover;
} */
.about h2{
    margin: 30px 0 20px;
}
.about p{
    font-size: 16px;
    line-height: 30px;
}

/* course section design  */
.course .card-section{
    row-gap: 10px;
}
.course h2{
    font-size: 20px;
    font-weight: 700;
}
.course hr{
    color: #DADADA;
    height: 1px;
}
.course h5{
    font-size: 16px;
    font-weight: 700;
}
.course p{
    font-size: 12px;
    margin: 10px 0;
}
.course-button .btn-success{
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
}
.course-button .btn-outline-success{
    padding: 0 10px;
    font-weight: 400;
    font-size: 10px;
    border-radius: 0;
}
/* contact section design  */
.contact{
    padding: 80px 0;
}
.contact .top-content h1{
    font-size: 32px;
    font-weight: 700;
}
.contact .top-content h4{
    font-size: 16px;
    font-weight: 600;
}
.contact .top-content p{
    font-size: 14px;
    line-height: 24px;
    width: 85%;
    margin: 15px 0;
}
.contact .bottom-content .card{
    padding: 0 10px;
}
.contact .bottom-content .phone-icon{
    background: var(--light-green);
    width: 40px;
    height: 40px;
    text-align: center;
    color: var(--white);
    line-height: 40px;
}
.contact .bottom-content h5{
    font-size: 14px;
    font-weight: 600;
}
.contact .phone-icon i{
    font-size: 17px;
    margin-top: 8px;
}
.contact form label{
    font-size: 1.6em;
}
.contact form textarea{
    resize: none;
}
.contact form .btn-success{
    border-radius: 10px;
}
.contact .form{
    padding: 20px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
/* footer design  */
footer{
    padding: 80px 0;
}
.footer a{
    color: var(--black);
}
.footer a h4{
    font-size: 1.2rem;
}
.footer a p{
    font-size: 0.8rem;
}
.footer p.para{
    width: 80%;
    margin-top: 29px;
    color: #37393F;
}
.footer h2.head{
    font-size: 24px;
    color: #655D5D;
}
.footer .links{
    padding-top: 29px;
}
.footer .links a{
    font-size: 16px;
    color: #655D5D;
    margin-top: 16px;
}
.footer .card-body p{
    color: #655D5D;
}
.footer .location-icon{
    width: 30px;
    height: 30px;
    text-align: center;
    color: var(--white);
    line-height: 30px;
    background: #EFF7FF;
    border-radius: 50%;
    color: #6B78E5;
}
.footer .contact-us{
    margin-top: 20px;
}
.footer .card-body{
    padding: 22px 10px;
}
.copyright{
    padding: 20px;
    background: var(--light-green);
    text-align: center;
    color: var(--white);
}
.copyright p{
    font-size: 16px;
}
.modal-body .btn-success{
    border-radius: 10px !important;
}
.modal-body .modal-text a{
    color: var(--light-green);
}
.modal-header{
    border: none;
}
.modal-text{
    padding: 10px 0;
}